<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'GLVMS | Your Request Details'}) %>
    <link rel="stylesheet" href="/styles/client-request-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <h3>Your request details</h3>
    <section class="client-request-details">
        <div>
            <div class="fixed-details-left">
                <p>Request made by: <strong><%= clientRequest.clientName %></strong></p>
                <p>Instrument: <strong><%= clientRequest.clientInstrument %></strong></p>
            </div>
            <div class="fixed-details-right">
                <p>Event: <strong><%= clientRequest.eventTitle %></strong></p>
                <p>Date & Time: <strong><%= clientRequest.eventDate %></strong></p>
                <p>Location:</p>
                <p><strong><%= clientRequest.eventLocation.address %></strong></p>
                <p><strong><%= clientRequest.eventLocation.city %>, <%= clientRequest.eventLocation.state %></strong></p>
                <p><strong><%= clientRequest.eventLocation.zip %></strong></p>
            </div>
        </div>
    </section>
    <section class="rep-list">
        <p>Requested repertoire:</p>
        <% for (let rep of clientRequest.requestedRepertoire) { %>
        <div class="each-rep">
            <p>Title: <%= rep.title %></p>
            <% let splitName = rep.composer.split('-'); %>
            <% let formattedName = ''; %>
            <% for (let i = 0; i < splitName.length; i++) { %>
                <% if (i === 0) { %>
                    <% formattedName += splitName[i] + ', ' %> 
                <% } else { %>
                    <% formattedName += splitName[i] + ' '%>
                <% } %>
            <% } %>
            <p>Composer: <%= formattedName %></p>
            <p>Instrumentation: 
            <% for (let instrument of rep.instrumentation) { %>
            <span><%= instrument %> </span>
            <% } %>
            </p>
            <p>Price: $ <%= rep.price %></p>
        </div>
        <% } %>
    </section>
    <div class="buttons">
        <button class="btn"><a href="/client-requests">See all requests</a></button>
        <button class="btn"><a href="/client-requests/<%= clientRequest._id %>/edit">Edit this Request</a></button>
        <form method="POST" action="/client-requests/<%= clientRequest._id %>?_method=DELETE">
            <input class='btn' type="submit" value="Delete this Request"/>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>