<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'GLVMS | All Requests'}) %>
    <link rel="stylesheet" href="/styles/client-request-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <% if (clientRequests.length < 1) { %>
        <p style="text-align: center">No requests have yet been made in this session.</p>
    <% } else { %>
        <% for (clientRequest of clientRequests) { %>
            <section class="each-client-request">
                <div>
                    <p>Request made by:</p>
                    <p><strong><%= clientRequest.clientName %></strong></p>
                    <p>Instrument:</p>
                    <p><strong><%= clientRequest.clientInstrument %></strong></p>
                </div>
                <div>
                    <p>Event: <strong><%= clientRequest.eventTitle %></strong></p>
                    <p>Date & Time: <strong><%= clientRequest.eventDate %></strong></p>
                </div>
                <div>
                    <p>Request created at: <%= clientRequest.createdAt %></p>
                    <p>Request last updated at: <%= clientRequest.updatedAt %></p>
                </div>
            </section>
            <form method="POST" action="/client-requests/<%= clientRequest._id %>?_method=DELETE">
                <input type="submit" value="Delete this Request"/>
            </form>
        <% } %>
    <% } %>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
