<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Edit Your Request | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/client-request-edit.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <h2 class="client-edit-title">Edit Your Request</h2>
    <form method="POST" action="/client-requests/<%= clientRequest._id %>?_method=PUT">
        <div>
            <label for="clientName">Your Name:</label>
            <input type="text" id="clientName" name="clientName" value=<%= clientRequest.clientName %> required>
        </div>
        <div>
            <label for="clientInstrument">Your instrument:</label>
            <select id="clientInstrument" name="clientInstrument">
                <% let instrumentsList = ['bass', 'bass clarinet', 'bassoon', 'cello', 'clarinet', 'contrabassoon', 'english horn', 'euphonium', 'flute', 'guitar', 'harp', 'horn', 'oboe', 'orchestra', 'percussion', 'piano', 'piccolo', 'saxophone', 'trombone', 'trumpet', 'tuba', 'viola', 'violin', 'voice']; %>
                <option value="choose-category" disabled selected>Choose a category</option>
                <% for (instrument of instrumentsList) { %>
                    <% if (instrument === clientRequest.clientInstrument) { %>
                        <option value=<%= instrument %>><%= instrument %> selected </option>
                    <% } else { %>
                        <option value=<%= instrument %>><%= instrument %></option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <div>
            <label for="eventTitle">Event Title:</label>
            <input type="text" id="eventTitle" name="eventTitle" value=<%= clientRequest.eventTitle %> required>
        </div>
        <div>
            <label for="eventDate">Date & Time:</label>
            <input type="datetime-local" id="eventDate" name="eventDate" value=<%= clientRequest.eventDate %> required>
        </div>
        <p>Event location:</p>
        <div>
            <label for="eventAddress">Address:</label>
            <input type="text" id="eventAddress" name="eventLocation[address]" value=<%= clientRequest.eventLocation.address %> required>
            <br>
            <label for="eventCity">City:</label>
            <input type="text" id="eventCity" name="eventLocation[city]" value=<%= clientRequest.eventLocation.city %> required>
            <br>
            <label for="eventState">State:</label>
            <select id="eventState" name="eventLocation[state]">
                <% let states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'Washington, D.C.', 'West Virginia', 'Wisconsin', 'Wyoming']; %>
                <option value="choose-category" disabled selected>Choose a state</option>
                <% for (state of states) { %>
                    <% if (state === clientRequest.eventLocation.state) { %>
                        <option value=<%= state %>><%= state %> selected </option>
                    <% } else { %>
                        <option value=<%= state %>><%= state %></option>
                    <% } %>
                <% } %>
            </select>
            <br>
            <label for="eventZip">Zip code:</label>
            <input type="number" id="eventZip" name="eventLocation[zip]" maxlength="5" value=<%= clientRequest.eventLocation.zip %> required>
            <br>
        </div>
        <section class="rep-list">
            <p>Requested repertoire:</p>
            <% for (let rep of clientRequest.requestedRepertoire) { %>
            <div class="each-requested-repertoire">
                <p>Title: <%= rep[0].title %></p>
                <p>Composer: <%= rep[0].composer %></p>
                <p>Instrumentation: 
                <% for (let instrument of rep[0].instrumentation) { %>
                <span><%= instrument %> </span>
                <% } %>
                </p>
                <p>Price: $ <%= rep[0].price %></p>
            </div>
            <% } %>
        </section>
        <div>
            <a id="back-to-index" href="/opuses/<%= clientRequest._id %>"><button type='button' class='btn'>Add more repertoire</button></a>
        </div>
        <div>
            <input id='submit-btn' type="submit" value="Submit Revised Request">
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>