<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Add a New Request | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/client-request-newform.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <h2>Add a New Request</h2>
    <form method="POST" action="/client-requests">
        <table>
            <tr>
                <td><label for="clientName">Your Name:</label></td>
                <td><input type="text" id="clientName" name="clientName" required></td>
            </tr>
            <tr>
                <td><label for="clientInstrument">Your instrument:</label></td>
                <td><select id="clientInstrument" name="clientInstrument">
                    <% let instrumentsList = ['bass', 'bass clarinet', 'bassoon', 'cello', 'clarinet', 'contrabassoon', 'english horn', 'euphonium', 'flute', 'guitar', 'harp', 'horn', 'oboe', 'orchestra', 'percussion', 'piano', 'piccolo', 'saxophone', 'trombone', 'trumpet', 'tuba', 'viola', 'violin', 'voice']; %>
                    <option value="choose-category" disabled selected>Choose a category</option>
                    <% for (instrument of instrumentsList) { %>
                        <option value=<%= instrument %>><%= instrument %></option>
                    <% } %>
                </select></td>
            </tr>
            <tr>
                <td><label for="eventTitle">Event Title:</label></td>
                <td><input type="text" id="eventTitle" name="eventTitle" required></td>
            </tr>
            <tr>
                <td><label for="eventDate">Date & Time:</label></td>
                <td></td><input type="datetime-local" id="eventDate" name="eventDate" required></td>
            </tr>
            <tr><td>Event location:</td></tr>
            <tr>
                <td><label for="eventAddress">Address:</label></td>
                <td><input type="text" id="eventAddress" name="eventLocation[address]" required></td>
                <td><label for="eventCity">City:</label></td>
                <td><input type="text" id="eventCity" name="eventLocation[city]" required></td>
                <td><label for="eventState">State:</label></td>
                <td><select id="eventState" name="eventLocation[state]">
                    <% let states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'Washington, D.C.', 'West Virginia', 'Wisconsin', 'Wyoming']; %>
                    <option value="choose-category" disabled selected>Choose a state</option>
                    <% for (state of states) { %>
                        <option value=<%= state %>><%= state %></option>
                    <% } %>
                </select></td>
                <td><label for="eventZip">Zip code:</label></td>
                <td><input type="number" id="eventZip" name="eventLocation[zip]" maxlength="5" required></td>
            </tr>
            <tr>
                <td><p>Requested repertoire:</p></td>
                <input type="hidden" id="requestedRepertoire" name="requestedRepertoire" value="<%= JSON.stringify(requestList) %>">
                <% for (requestedOpus of requestList) { %>
                    <p><%= requestedOpus.composer %></p>
                    <p><%= requestedOpus.title %></p>
                    <% if (requestedOpus.movements.length > 0) { %>
                        <p>movements:
                        <% for (movement of requestedOpus.movements) { %>
                            <p><%= movement.movementTitle %></p>
                            <p>$<%= movement.movementPrice %></p>
                        <% } %>
                        </p>
                    <% } %>
                    <p><%= requestedOpus.instrumentation %></p>
                    <% if (requestedOpus.movements.length === opus.movements.length) { %>
                        <p>$<%= requestedOpus.price %></p>
                    <% } %>
                <% } %>
            </tr>
        </table>
        <br>
        <div>
        <% if (requestInProgress === 'yes') { %>
            <a id="back-to-index" href="/opuses/<%= clientRequest._id %>"><button type='button' class='btn'>Add more repertoire</button></a>
        <% } else { %>
            <a id="back-to-index" href="/opuses"><button type='button' class='btn'>Add more repertoire</button></a>
        <% } %>
            <input type="submit" id='submit-btn' value="Submit Request">
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>