<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'GLVMS | All Requests'}) %>
    <link rel="stylesheet" href="/styles/client-request-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <% if (clientRequests.length < 1) { %>
    <div class="no-requests">
        <p>No requests have yet been made in this session.</p>
        <p>Please click the "See Repertoire List" to begin your request.</p>
    </div>
    <% } else { %>
    <p>This is a list of all of your requests. Please click on any of the requests to see its details.</p>
        <% for (clientRequest of clientRequests) { %>
        <section>
            <div class="request-ref">
                <% let refNum = String(clientRequest._id).slice(-8) %>
                <p>Reference ID: <%= refNum %></p>
            </div>
            <div class="each-client-request">
                <a class="client-request-link" href="/client-requests/<%= clientRequest._id %>">
                    <div>
                        <p>Request made by: <strong><%= clientRequest.clientName %></strong></p>
                        <p>Instrument: <strong><%= clientRequest.clientInstrument %></strong></p>
                    </div>
                    <div>
                        <% let dateData = String(clientRequest.eventDate).split(' '); %>
                        <p>Event: <strong><%= clientRequest.eventTitle %></strong></p>
                        <p>Date & Time: <strong><%= `${dateData[1]} ${dateData[2]}, ${dateData[3]} (${dateData[0]})     ${dateData[4].slice(0, 5)} ${dateData[6].charAt(1)}${dateData[7].charAt(0)}${dateData[8].charAt(0)}` %></strong></p>
                    </div>
                    <div class="req-timestamp">
                        <p>Request created at: <%= clientRequest.createdAt %></p>
                        <p>Request last updated at: <%= clientRequest.updatedAt %></p>
                    </div>
                </a>
                <form method="POST" action="/client-requests/<%= clientRequest._id %>?_method=DELETE">
                    <input class='btn' type="submit" value="Delete this Request"/>
                </form>
            </div>
        </section>
        <% } %>
    <% } %>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
