<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Add New Repertoire | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/opus-newform.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <h2>Add New Repertoire</h2>
    <form id="add-repertoire-form" method="POST" action="/opuses">
        <div class="opus-newform-title">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="opus-newform-composer">
            <label for="composer">Composer:</label>
            <input type="text" id="composer" name="composer" required>
        </div>
        <div class="opus-newform-instrumentation">
            <label for="instrumentation">Instrumentation (select all that apply):</label><br>
            <% let instrumentsList = ['bass', 'bass clarinet', 'bassoon', 'cello', 'clarinet', 'contrabassoon', 'english horn', 'euphonium', 'flute', 'guitar', 'harp', 'horn', 'oboe', 'orchestra', 'percussion', 'piano', 'piccolo', 'saxophone', 'trombone', 'trumpet', 'tuba', 'viola', 'violin', 'voice']; %>
            <% for (instrument of instrumentsList) { %>
                <input class="checkbox" type="checkbox" id="<%= instrument %>" name="instrumentation" value="<%= instrument %>">
                <label for="<%= instrument %>"> <%= instrument %></label><br>
            <% } %>
        </div>
        <div class="opus-newform-price">
            <label for="price">Price:</label>
            <span>$</span>
            <input type="number" id="price" name="price" min=0 max=1000 required>
        </div>
        <div class="opus-newform-description">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="10"></textarea>
        </div>
        <div id="opus-newform-movements">
        </div>
        <div class="opus-newform-buttons">
            <button type="button" id="add-movement-btn">Add a Movement</button>
            <!-- some input types below cause validation errors - need to fix -->
            <script>
                const addRepertoireForm = document.getElementById('add-repertoire-form');
                const opusNewformMovements = document.getElementById('opus-newform-movements');
                const addMovementBtn = document.getElementById('add-movement-btn');
                let mvmtNum = 0;
                addMovementBtn.addEventListener('click', () => {
                    mvmtNum++;
                    const div = document.createElement('div');
                    opusNewformMovements.appendChild(div);
                    const p = document.createElement('p');
                    div.appendChild(p);
                    p.innerText = `Movement ${mvmtNum}`;
                    const mvmtTitleLabel = document.createElement('label');
                    mvmtTitleLabel.htmlFor = `mvmt-title-${mvmtNum}`
                    mvmtTitleLabel.innerText = 'Title: '
                    div.appendChild(mvmtTitleLabel);
                    const mvmtTitleInput = document.createElement('input');
                    mvmtTitleInput.setAttribute('type', 'text');
                    mvmtTitleInput.id = `mvmt-title-${mvmtNum}`
                    mvmtTitleInput.setAttribute('name', 'movements[movementTitle]');
                    mvmtTitleLabel.appendChild(mvmtTitleInput);
                    const mvmtPriceLabel = document.createElement('label');
                    mvmtPriceLabel.htmlFor = `mvmt-price-${mvmtNum}`
                    mvmtPriceLabel.innerText = 'Price: $'
                    div.appendChild(mvmtPriceLabel);
                    const mvmtPriceInput = document.createElement('input');
                    mvmtPriceInput.setAttribute('type', 'number');
                    mvmtPriceInput.id = `mvmt-price-${mvmtNum}`
                    mvmtPriceInput.setAttribute('name', 'movements[movementPrice]');
                    mvmtPriceInput.setAttribute('min', 0);
                    mvmtPriceInput.setAttribute('max', 1000)
                    mvmtPriceLabel.appendChild(mvmtPriceInput);
                })
            </script>
            <input id='submit-btn' type="submit" value="Add Repertoire">
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
