<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${opus.title} | GLVMS`}) %>
    <link rel="stylesheet" href="/styles/opus-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <h3>Repertoire Details</h3>
    <section class="details-left">
        <p>Title: <%= opus.title %></p>
        <p>Composer: <%= opus.composer %></p>
        <p>Instrumentation: <%= opus.instrumentation %></p>
        <p>Price: $<%= opus.price %></p>
        <% for (let i = 0; i < opus.movements[0].movementTitle.length; i++) { %>
            <p>Movement <%= i + 1 %>: <%= opus.movements[0].movementTitle[i] %></p>
            <p>Price: $<%= opus.movements[0].movementPrice[i] %></p>
        <% } %>
    </section>
    <section class="details-middle">
        <h3>Description</h3>
        <% if (opus.description === undefined) { %>
            <p>None provided</p>
        <% } else  { %>
            <p><%= opus.description %></p>
        <% } %>
    </section>
    <section class="details-right">
        <a href="/opuses"><button class='btn'>Go back to full repertoire list</button></a>
    </section>
    <button><a href="/opuses/<%= opus._id %>/edit">Edit this Repertoire</a></button>
    <form method="POST" action="/opuses/<%= opus._id %>?_method=DELETE">
        <input type="submit" value="Delete this Repertoire"/>
    </form>
</body>

</html>
