<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Edit Repertoire | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/opus-edit.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <h2>Edit Repertoire</h2>
    <form method="POST" action="/opuses">
        <table>
            <tr>
                <td><label for="title">Title:</label></td>
                <td><input type="text" id="title" name="title" value=<%= opus.title %> required></td>
            </tr>
            <tr>
                <td><label for="composer">Composer:</label></td>
                <td><input type="text" id="composer" name="composer" value=<%= opus.composer %> required></td>
            </tr>
            <tr>
                <td><label for="instrumentation">Instrumentation: </label></td>
                <td><input type="text" id="instrumentation" name="instrumentation" min=0 value=<%= opus.instrumentation %> required></td>
                <!--make this a radio button choice?-->
            </tr>
            <tr>
                <td><label for="price">Price:</label></td>
                <td>$<input type="number" id="price" name="price" min=0  value=<%= opus.price %> required>
            </tr>
            <tr>
                <td><label for="description">Description:</label></td>
                <td><textarea id="description" name="description"  value=<%= opus.description %>></textarea></td>
            </tr>
        </table>
        <!--add movement button here w/ prepopulated info w/ delete button for each-->
        <div>
            <input id='submit-btn' type="submit" value="Submit Revised Information">
        </div>
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
