<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Available Repertoire List | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/opus-index.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2 class="opus-index-title">Available Repertoire</h2>
    <section class='filters'>
        <div>
            <label for="composer-filter">Filter by composer:</label>
            <select id="composer-filter" name="composer-filter">
            <% for (composer of fullComposersList) { %>
                <option value=<%= composer %>><%= composer %></option>
            <% } %>
            </select>
            <label for="instrumentation-filter">Filter by instrumentation:</label>
            <select id="instrumentation-filter" name="instrumentation-filter">
                <% let instrumentsList = ['bass', 'bass clarinet', 'bassoon', 'cello', 'clarinet', 'contrabassoon', 'english horn', 'euphonium', 'flute', 'guitar', 'harp', 'horn', 'oboe', 'orchestra', 'percussion', 'piano', 'piccolo', 'saxophone', 'trombone', 'trumpet', 'tuba', 'viola', 'violin', 'voice']; %>
                <% for (instrument of instrumentsList) { %>
                    <option value=<%= instrument %>><%= instrument %></option>
                <% } %>
            </select>
        </div>
        <div>
            <button id="apply-filters">Apply</button>
            <script>
                let composerFilter = document.getElementById('composer-filter');
                let instrumentationFilter = document.getElementById('instrumentation-filter');
                let applyFilters = document.getElementById('apply-filters');
                applyFilters.addEventListener('click', () => {
                    let chosenComposer = composerFilter.options[composerFilter.selectedIndex].value;
                    let chosenInstrumentation = instrumentationFilter.options[instrumentationFilter.selectedIndex].value;
                    window.open(`http://localhost:3000/opuses/filter/${chosenComposer}/${chosenInstrumentation}`, "_self");
                })
            </script>
            <a id="filter-reset" href="/opuses">Reset filters</a>
        </div>
    </section>

    <% for (opus of opuses) { %>
        <section class="each-opus">
            <form method="POST" action="/opuses/add-to-request">
                <input type="image" src="#" value="Add to Request"/>
            </form>
            <a class="opus-link" href="/opuses/<%= opus._id %>">
                <div><%= opus.composer %></div>
                <div><%= opus.title %></div>
                <div><%= opus.instrumentation %></div>
            </a>
            <% if (opus.movements.length > 0) { %>
                <button id="movements-button">See individual movements</button>
            <% } %>
            <div>
                <% for (movement of opus.movements) { %>
                    <form method="POST" action="/opuses/add-to-request">
                        <input type="image" src="#" value="Add to Request"/>
                    </form>
                    <span>
                        <%= movement.movementTitle %>
                    </span>
                    <span>
                        $<%= movement.price %>
                    </span>
                <% } %>
            </div>
            <div>$<%= opus.price %></div>
        </section>
    <% } %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>