<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `${opus.title} | GLVMS`}) %>
    <link rel="stylesheet" href="/styles/opus-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <h3>Repertoire Details</h3>
    <section class="details-top">
        <table>
            <tr>
                <td>Title: </td>
                <td><%= opus.title %></td>
            </tr>
            <tr>
                <td>Composer: </td>
                <% let splitName = opus.composer.split('-'); %>
                <% let formattedName = ''; %>
                <% for (let i = 0; i < splitName.length; i++) { %>
                    <% if (i === 0) { %>
                        <% formattedName += splitName[i] + ', ' %> 
                    <% } else { %>
                        <% formattedName += splitName[i] + ' '%>
                    <% } %>
                <% } %>
                <td><%= formattedName %></td>
            </tr>
            <tr>
                <td>Instrumentation: </td>
                <% let instrumentationRow = '' %>
                <% for (let i = 0; i < opus.instrumentation.length; i++) { %>
                    <% if (i < opus.instrumentation.length - 1) { %>
                        <% instrumentationRow += opus.instrumentation[i] + ', ' %> 
                    <% } else { %>
                        <% instrumentationRow += opus.instrumentation[i] %>
                    <% } %>
                <% } %>
                <td> <%= instrumentationRow %> </td>
            </tr>
            <tr>
                <td>Price: </td>
                <td> $<%= opus.price %> </td>
            </tr>
            <% if (opus.movements.length > 0) { %>
                <% for (let i = 0; i < opus.movements.length; i++) { %>
                <tr>
                    <td>Movement <%= i + 1 %>:</td>
                    <td><%= opus.movements[i].movementTitle %></td>
                    <td>&#40$<%= opus.movements[i].movementPrice %>&#41</td>
                </tr>
                <% } %>
            <% } %>
        </table>
    </section>
    <section class="details-middle">
        <h3>Description</h3>
        <% if (opus.description === undefined || opus.description === '') { %>
            <p class="description">None provided</p>
        <% } else  { %>
            <p class="description"><%= opus.description %></p>
        <% } %>
    </section>
    <section class="details-bottom">
        <a href="/opuses"><button class='btn'>Go back to full repertoire list</button></a>
    </section>
    <div class="admin-only">
        <a href="/opuses/<%= opus._id %>/edit"><button class="btn">Edit this Repertoire</button></a>
        <form method="POST" action="/opuses/<%= opus._id %>?_method=DELETE">
            <input class="btn" type="submit" value="Delete this Repertoire"/>
        </form>
    </div>
</body>

</html>
