<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Available Repertoire List | GLVMS'}) %>
    <link rel="stylesheet" href="/styles/opus-index.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h2 class="opus-index-title">Available Repertoire</h2>
    <% if (filtered === false) { %>
        <form method="GET" action="/opuses/filter">
            <section class='filters'>
            <div class="filters-top">
                <label id='label-1'for="composer-filter">Filter by composer:</label>
                <select id="composer-filter" name="composer">
                    <option value="choose-category" disabled selected>Choose a category</option>
                <% for (composer of fullComposersList) { %>
                    <option value=<%= composer %>><%= composer %></option>
                <% } %>
                </select>
                <label id='label-2' for="instrumentation-filter">Filter by instrumentation:</label>
                <select id="instrumentation-filter" name="instrumentation">
                    <% let instrumentsList = ['bass', 'bass clarinet', 'bassoon', 'cello', 'clarinet', 'contrabassoon', 'english horn', 'euphonium', 'flute', 'guitar', 'harp', 'horn', 'oboe', 'orchestra', 'percussion', 'piano', 'piccolo', 'saxophone', 'trombone', 'trumpet', 'tuba', 'viola', 'violin', 'voice']; %>
                    <option value="choose-category" disabled selected>Choose a category</option>
                    <% for (instrument of instrumentsList) { %>
                        <option value=<%= instrument %>><%= instrument %></option>
                    <% } %>
                </select>
            </div>
            <div class="filters-bottom">
                <button class='btn' id="apply-filters">Apply</button>
                <a id="filter-reset" href="/opuses"><button type='button' class='btn'>Reset filters</button></a>
            </div>
        </section>
        </form>
    <% } else { %>
        <div class="filters-bottom">
            <a id="filter-reset" href="/opuses"><button type='button' class='btn'>Go back</button></a>
        </div>
    <% } %>
    <% for (opus of opuses) { %>
        <section class="each-opus">
            <div class="opus-upper">
                <form method="POST" action="/opuses/add-to-request/<%= requestMade %>/<%= opus._id %>?_method=PUT">
                    <input class="cart" type="image" src="/assets/cart.png" value="Add to Request"/>
                </form>
                <a class="opus-link" href="/opuses/<%= opus._id %>">
                    <div class="opus-composer"><%= opus.composer %></div>
                    <div class="opus-title">
                        <p><%= opus.title %></p>
                        <p><%= opus.instrumentation %></p>
                    </div>
                    <div class="opus-price">$<%= opus.price %></div>
                </a>
            </div>
            <% if (opus.movements.length > 0) { %>
            <div class="opus-middle">
                <button class="movements-button">Show movements</button>
            </div>
            <div class="opus-lower">
                <% for (movement of opus.movements) { %>
                <div class="each-movement">
                    <form method="POST" action="/opuses/add-to-request/<%= requestMade %>/<%= opus._id %>/<%= movement.movementNumber %>?_method=PUT">
                        <input class="cart" type="image" src="/assets/cart.png" value="Add to Request"/>
                    </form>
                    <p><%= movement.movementTitle %></p>
                    <p>$<%= movement.price %></p>
                </div>
                <% } %>
            </div>
            <% } %>     
        </section>
    <% } %>
    <script defer>
        const mvmtBtn = document.getElementsByClassName('movements-button');
        const opusLower = document.getElementsByClassName('opus-lower');
        for (let i = 0; i < mvmtBtn.length; i++) {
            mvmtBtn[i].addEventListener('click', (evt) => {
                evt.stopImmediatePropagation();
                if (mvmtBtn[i].innerText === 'Show movements') {
                    mvmtBtn[i].innerText = 'Hide movements';
                    opusLower[i].style.display = 'block';
                } else {
                    mvmtBtn[i].innerText = 'Show movements';
                    opusLower[i].style.display = 'none';
                }
            })
        }
    </script>  
    <%- include('../partials/footer.ejs') %>
</body>
</html>